.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slider {
  display: flex;
  align-items: center;
}
.next,
.prev {
  margin: 3px;
  background-color: black;
  color: white;
  border-radius: 10px;
}
img {
  max-width: 100%;
  max-height: 80vh;
}
